<div class="container">
    {{#if student}}
        <div class="row">
            <p class="main_header">Тесты доступные для прохождения</p>
        </div>
        <div class="mb-3">
            {{#each questions}}
                <div name="{{this.id}}" class="card text-dark bg-success bg-gradient bg-opacity-10 mb-3">
                    <div class="card-header">{{return_index @index}} Вопрос</div>
                    {{#if interactive}}

                    {{else}}
                        <div class="card-body">
                            <p class="card-text mb-3">{{this.formulation}}</p>
                            <div class="">
                                {{#type_question this}}
                                    {{#each answers}}
                                        <div class="form-check">
                                            <input class="form-check-input" type="{{this.type}}" value="" id="input_{{this.id}}_{{this.id_question}}">
                                            <label class="form-check-label" for="input_{{this.id}}_{{this.id_question}}">
                                                {{this.value}}
                                            </label>
                                        </div>
                                    {{/each}}
                                {{/type_question}}
                            </div>
                        </div>
                    {{/if}}
                </div>
            {{/each}}
        </div>
        <div class="row row_button">
            <div class="col-5 col_button">
                <button type="button" id="button_back_tests" class="btn btn-outline-secondary">Вернуться к тестам</button>
                <p class="text-back">При выходе ответы не сохраняются</p>
            </div>
            <div class="col-5 col_button">
                <button type="button" id="button_send_to_check" class="btn btn-outline-primary">Отправить на проверку</button>
            </div>
        </div>
    {{/if}}
</div>