<div class="container">
    {{#if student}}
        <div class="row">
            <p class="main_header">Тесты доступные для прохождения</p>
        </div>
        <div class="mb-3">
            {{#each questions}}
                <div name="{{this.id}}" class="card question text-dark bg-success bg-gradient bg-opacity-10 mb-3">
                    <div class="card-header">{{return_index @index}} Вопрос</div>
                    {{#if interactive}}
                        <div class="card-body">
                            <div class="row_formulation interactive">
                                {{#create_drag_drop_block this.formulation this.id}}
                                    {{#each step}}
                                        <span class="text_formulation">{{this.formulation}}</span>
                                        <div id="dz{{id_question}}_{{@index}}" class="dropzone" ></div>
                                    {{/each}}
                                    <span class="text_formulation">{{last}}</span>
                                {{/create_drag_drop_block}}
                            </div>
                            <div class="invalid-feedback mb-3">Обязательно к заполнению!</div>
                            <div class="row_answers" id="{{this.id}}" name="">
                                {{#return_index_to_answers this.answers this.id}}
                                    {{#each step}}
                                        <div class="drag_elem" id="de{{id_question}}_{{@index}}" draggable="true">{{answer}}</div>
                                    {{/each}}
                                {{/return_index_to_answers}}
                            </div>
                        </div>
                    {{else}}
                        <div class="card-body">
                            <p class="card-text mb-3">{{this.formulation}}</p>
                            <div class="answers noninteractive">
                                {{#type_question this}}
                                    {{#each answers}}
                                        <div class="form-check">
                                            <input class="form-check-input" type="{{this.type}}" value="" id="input{{this.id_question}}_{{this.id}}">
                                            <label class="form-check-label" for="input{{this.id_question}}_{{this.id}}">
                                                {{this.value}}
                                            </label>
                                        </div>
                                    {{/each}}
                                {{/type_question}}
                            </div>
                            <div class="invalid-feedback mb-3">Обязательно к заполнению!</div>
                        </div>
                    {{/if}}
                    <div class="card-footer">Комментарий: {{this.comment}}</div>
                </div>
            {{/each}}
        </div>
        <div class="row row_button">
            <div class="col-5 col_button">
                <button type="button" id="button_back_tests" class="btn btn-outline-secondary">Вернуться к тестам</button>
                <p class="text-back">При выходе ответы не сохраняются</p>
            </div>
            <div class="col-5 col_button">
                <button type="button" id="button_send_to_check" class="btn btn-outline-primary">Отправить на проверку</button>
            </div>
        </div>
    {{/if}}
</div>