<div class="container">
    <div class="row rowHeader">
        <h2 class="mainHeader">Изменение теста</h2>
    </div>
    <div class="row rowForm mb-3">
        <div class="col-6">
            <div class="row rowForm mb-3">
                <div class="col">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="inputName" value="{{test.name}}" placeholder=" " />
                        <label for="inputName">Название<span class="needed">*</span></label>
                        <div class="invalid-feedback">Обязательно к заполнению!</div>
                    </div>
                </div>
            </div>

            <div class="row rowForm mb-3">
                <div class="col">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder=" " id="inputDesc">{{test.desc}}</textarea>
                        <label for="inputDesc">Описание<span class="needed">*</span></label>
                        <div class="invalid-feedback">Обязательно к заполнению!</div>
                    </div>
                </div>
            </div>

            <div class="row rowForm mb-3">
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" id="inputMaxTry"/>
                            <option value="{{test.maxTry}}" selected>{{test.maxTry}}</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <label for="inputMaxTry">Максимальное число попыток<span class="needed">*</span></label>
                    </div>
                </div>
            </div>

            <div class="row rowForm mb-3">
                <div class="col colButton">
                    <button type="button" data-bs-dismiss="modal" id="button_update_test" class="btn btn-outline-success">Изменить</button>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div hidden id="rowQuestions_pattern">
                <div class="card border-secondary mb-3">
                    <div class="card-header mb-3">
                        <h5 class="card-title"></h5>
                        <button type="button" class="btn-close button_del_question"></button>
                    </div>
                    <div class="card-body">
                        <div class="form-check mb-3">
                            <input class="form-check-input checkInteractive" type="checkbox"/>
                            <label class="form-check-label" for="">Интерактивный вопрос</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control inputFormulation" placeholder=" "></textarea>
                            <label for="">Формулировка вопроса<span class="needed">*</span></label>
                            <div class="invalid-feedback">Обязательно к заполнению!</div>
                        </div>

                        <div class="form-floating mb-3">
                            <textarea class="form-control inputComment" placeholder=" "></textarea>
                            <label for="">Комментарий к вопросу<span class="needed">*</span></label>
                            <div class="invalid-feedback">Обязательно к заполнению!</div>
                        </div>

                        <div class="form-floating mb-3">
                            <textarea class="form-control inputVariants" placeholder=" "></textarea>
                            <label for="">Варианты ответа<span class="needed">*</span></label>
                            <div class="invalid-feedback">Обязательно к заполнению!</div>
                        </div>

                        <div class="form-floating mb-3">
                            <textarea class="form-control inputRA" placeholder=" "></textarea>
                            <label for="">Индекс правильного ответа<span class="needed">*</span></label>
                            <div class="invalid-feedback">Обязательно к заполнению!</div>
                        </div>
                    </div>
                </div>
            </div>

            {{#each questions}}
                <div class="row rowQuestions">
                    <div class="card border-secondary mb-3">
                        <div class="card-header mb-3">
                            <h5 class="card-title">Вопрос {{this.idquestions}}</h5>
                            <button type="button" class="btn-close button_del_question"></button>
                        </div>
                        <div class="card-body">
                            <div class="form-check mb-3">
                                <input class="form-check-input checkInteractive" {{this.interactive}} type="checkbox"/>
                                <label class="form-check-label" for="">Интерактивный вопрос</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea class="form-control inputFormulation" placeholder=" ">{{this.formulation}}</textarea>
                                <label for="">Формулировка вопроса<span class="needed">*</span></label>
                                <div class="invalid-feedback">Обязательно к заполнению!</div>
                            </div>

                            <div class="form-floating mb-3">
                                <textarea class="form-control inputComment" placeholder=" ">{{this.comment}}</textarea>
                                <label for="">Комментарий к вопросу<span class="needed">*</span></label>
                                <div class="invalid-feedback">Обязательно к заполнению!</div>
                            </div>

                            <div class="form-floating mb-3">
                                <textarea class="form-control inputVariants" placeholder=" ">{{this.answers}}</textarea>
                                <label for="">Варианты ответа<span class="needed">*</span></label>
                                <div class="invalid-feedback">Обязательно к заполнению!</div>
                            </div>

                            <div class="form-floating mb-3" {{this.hidden}}>
                                <textarea class="form-control inputRA" placeholder="">{{this.rightAnswer}}</textarea>
                                <label for="">Индекс правильного ответа<span class="needed">*</span></label>
                                <div class="invalid-feedback">Обязательно к заполнению!</div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}

            <div class="row" id="add_question">
                <div class="col colButton">
                    <button type="button" id="button_add_question" class="btn btn-outline-secondary">Добавить вопрос</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row rowExample">
        <div class="col-6 colButton">
            <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInstruction">
                Инструкция по заполнению
            </button>
        </div>
        <div class="collapse" id="collapseInstruction">
                <p class="example">
                    Варианты ответа необходимо вводить каждый с новой строки (минимум 2) <br>
                    В поле правильный ответ нужно поместить номер ответа, то есть если правильным является ответ1, то записать нужно 1
                </p>
                <img src="/static/image/exampleTest1.jpg" class="imgExample">
                <p class="example">
                    Если в вопросе необходимо 2 и более правильных варианта ответа<br>
                    В поле соответствующее поле, вводить каждый с новой строки
                </p>
                <img src="/static/image/exampleTest2.jpg" class="imgExample">
                <p class="example">
                    Флаг интерактивного вопроса позволяет создать вопрос, решением которого будет являться перетаскиванием элементов в необходимые поля. <br>
                    Для реализации интерактивности необходимо в формулировке в те места, куда должны перетаскиваться варианты ответов, установить конструкцию: {номер варианта ответа} <br>
                    Поле индекса правильного ответа в данном случае заполнять не нужно.
                </p>
                <img src="/static/image/exampleTest3.jpg" class="imgExample">
        </div>
    </div>
</div>