<div class="container-xxl">
    <div class="row rowMain">
        <div class="col-md-3 col-3 col-lg-3 colListNav">
            <ul class="listNav">
                {{#each seasons}}
                    <li class="recordListNav"><a onclick="window.location=window.location.origin+'/season-{{this.seasonsNumber}}'" href="#">{{this.seasonsNumber}} сезон</a></li>
                {{/each}}
            </ul>
        </div>
        <div class="col-md-9 col-9 col-lg-9 colMain">
            <div class="dpad">
                <h1>Гриффины - смотреть онлайн на русском языке</h1>
                <p>
                    В 1999 году мир впервые увидел Гриффинов. Точнее, вначале это был не весь мир, а США.
                    Мультсериал поначалу получил достаточно низкий рейтинг. Но виной этому были не сценарии серий, а
                    неудобное время подачи шоу в эфир. Таким образом, через 3 года мульт был отменён на канале FOX,
                    но вскоре воскресли на другом телеканале. И вот тут Family Guy ждал успех, да такой, что FOX
                    выкупила права на мультсериал назад. Бешеные рейтинги собирали и продолжают собирать толпы
                    фанатов у
                    экранов телевизоров.
                </p>
                <h2>О чём мультсериал «Гриффины»?</h2>
                <p>Если вам до сих пор не доводилось «Гриффины» смотреть онлайн, и вы ничего не знаете о данном
                    мультсериале для взрослых (что вряд ли), то можно сказать, что ближайшим ориентиром можно
                    считать «Симпсонов». Вот только если последний является обычной комедией с элементами лёгкой
                    сатиры, то «Гриффины» поднимают и жестоко высмеивают самые злободневные темы и проблемы, о
                    которых не принято говорить: религия, гомофобия и гомосексуализм, наркотики, расизм, ожирение и
                    прочее.
                    Причём объектами шуток становятся в основном люди, занимающие 2 крайние позиции в этих темах:
                    как ярые борцы за права, так и враждебно настроенные люди. 
                </p>

                <p>Да, кстати. Вы, должно быть, заметили, что в оригинале мультсериал называется именно Family Guy
                    («Семьянин»), а не The Griffins (как это должно было быть, если переводить русский вариант
                    названия дословно). Так почему же по-русски мы видим именно «Гриффины»? Виной тому был телеканал
                    Ren-TV, который решил таким образом увеличить рейтинг, создав аллюзию на «Симпсонов».
                </p>
                <h2>Выбор сезона для просмотра</h2>
                <div class="row row-cols-3 row-cols-md-3 row-cols-lg-3">
                    {{#each seasons}}
                        <div class="col">
                            <div class="card">
                                <img src="/static/image/desk/s{{this.seasonsNumber}}.jpg" class="card-img-top" alt="Грифины превью сезон {{this.seasonsNumber}}" />
                                <div class="card-body">
                                    <a class="card-title" onclick="window.location=window.location.origin+'/season-{{this.seasonsNumber}}'" href="#">
                                        Сезон {{this.seasonsNumber}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>